/* targeting html elements with class name, it must be prefixed with  dot (.) */
}
.container {
  background: #fff;
  color: rgb(51, 16, 83);
}
.child {
  background-color: rgb(92, 91, 22);
  color: white;
}
/*targeting html elements with tagnam or type selector */
body {
  background-color: black;
  color: white;
}
h2 {
}
/* targeting html elements with id, it must be prefixed with a hashtag (#) */
#main {
  background-color: white;
  color: white;
}
#profile {
  height: 30rem;
  width: 30rem;
  border-radius: 100%;
  object-fit: cover;
}
.box p {
  color: red;
  padding: 10px;
  font-weight: 700;
}
article >  p{
    background-color: orange;
    padding: 10px;
    font-weight: 700
}
#para{
background-color: orange;
}
#para:hover{
    background-color: yellowgreen;
    color: beige;
}
#btn{
    background-color: white;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    font-style: initial;
}
#btn:hover{
    background-color: darkgray;
    cursor: pointer
    scale; 3.3;
    font-weight: bold;
    font-style: italic
}
.padding{
    padding: 30px 60px ;
    background-color: orange;
    font-style: oblique;
    font-weight: 700;
    height: 30rem;
    width: 30rem;
    margin: 60px 0 0 0;
    border: 9px dashed indianred;
    text-decoration: underline;
    text-align: center;
}
.padding:hover{
    border: 9px outset indianred;
}

#box1{
  margin: 60px 0 0 0;
  background-color: yellow;
  color: black;
  height: 12em;
  width: 12rem;
display: inline-block;
}
#box2{
  background-color: blue;
  color: black;
height: 12rem;
width: 12rem;
display: inline-block;
/* display: none; */
/* visibility: hidden; */
}
#box3{
  background-color: red;
  color: black;
  height: 12rem;
  width: 12rem;
  display: inline-block;
}
.image{
  margin: 30 0 0 0;
  height: 2rem;
  vertical-align: sub;
}
/* #text-container{
  font-size: 20rem;
  margin: 30 0 0 0;
} */